<!doctype html>
<html>
<head>
  <title>MEANchats</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>

<header>
<h1> MEAN chats </h1>
<p> welcome to Express </p>
</header>

<ul id="messages"></ul>
   <form id="chatForm" action="">
     <input id="m" autocomplete="off" /><button>Send</button>
   </form>

   <script src="/socket.io/socket.io.js"></script>
   <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

   <script src="/scripts/chat.js"></script>
</body>
</html>
