<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MEANchats</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>

<header>
<img class="noCat" src="/images/NoCat.jpg">
<div id="title">MEAN C<sub class="claw">H</sub>ATS</div>
</header>

<ul id="messages"></ul>

   <form id="chatForm" action="">
     <div id="MSGBOX">
       <input id="nickname" placeholder="Name: " />
       <input id="m" autocomplete="off" />
       <button id="send">Send</button>
    </div>
   </form>

   <script src="/socket.io/socket.io.js"></script>
   <script src="/scripts/chat.js"></script>
</body>
</html>
